body {
    padding: 0;
    margin: 0;
    background-color: #240642;
    height: 100vh;
    overflow: hidden;
}

.event-banner,
.mobile-banner {
    width: 100%;
    height: 100vh;
    object-fit: cover; /* Use 'cover' for desktop and 'contain' for mobile */
    display: flex; /* Enable flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

/* Hide mobile banner by default */
.mobile-banner {
    display: none;
}

/* For mobile devices (portrait mode) */
@media screen and (max-width: 768px) {
    .desktop-banner {
        display: none;
    }
    .mobile-banner {
        display: flex; /* Use flexbox for mobile banner as well */
        width: 100%;
        height: 100vh;
        object-fit: contain; /* Ensure the image fits within the container */
        background-color: #240642;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
    }
}

/* For mobile devices in landscape mode */
@media screen and (max-width: 768px) and (orientation: landscape) {
    .mobile-banner {
        object-fit: contain;
        object-position: center; /* Center the image */
    }
}

/* For very small devices */
@media screen and (max-width: 320px) {
    .event-banner,
    .mobile-banner {
        object-position: center center; /* Ensure the image is centered */
    }
}
